@import url('https://fonts.googleapis.com/css2? family= Playfair+Display & display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parrafos {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    padding: 30px 30px;

}
.relatos{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 30px 30px;
    background-color: #e1c8ff
}
footer {
    background-color:#e1c8ff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px 10px ;
    font-size: 20px;
    
    }

h1 {  
    background-color: #e1c8ff;
    text-align: center;
}
h3 {
    text-align: center;

}
.galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color:#fff9d8
}
.galeria img {
    max-width: 400px;
    padding: 1rem;
}
.contenedor {
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;

}
.imagen-1{
    width: 650px;
    height: 350px;
    margin: 10px 10px;
}
.imagen-2{
    width: 650px;
    height: 350px;
    margin: 10px 10px;
}
.imagen-3{
    width: 650px;
    height: 350px;
    margin: 10px 10px;
}
.card{
    padding: 10px;
    display: inline-block;
}
.colorport1{
    
background-color: #3d5a80;
}
.colorport2{
background-color: #e0fbfc;
}
.colorport3 {
    background-color: #ffeedd;
}
.perfil{
width: 350px;
height: auto;
border-radius: 20%;
}
.PieDePerfil{
    background-color: #3d5a80;
    color: #fff;
}